<div class="container">
    <div class="row">
        <div class="col-8">
            <table class='table'>
              <tr>
                <%= image_tag @user.get_profile_image(80,80) %>
              
                <%= link_to edit_admin_user_path(@user.id), class: "btn btn-outline-secondary ml-3" do %>
                    <i class="fas fa-user-cog"></i>
                <% end %>
                
                <% if @user.is_active == true %>
                    <strong class="ml-2" style ="color: #32cd32;">有効</strong>
                <% else %>
                    <strong class="ml-2" style ="color: #dc143c;">無効</strong>    
                <% end %>
              </tr> 
              <tr>
	              <th>name</th>
	              <td><%= @user.name %></td>
              </tr>
              <tr>
                  <th>e-mail</th>
                  <td><%= @user.email %></td>
              </tr>
              <tr>
	              <th>introduction</th>
	              <td><%= @user.introduction %></td>
              </tr>
            </table>
            
            <table class="table table-hover">
                <tbody>
                    <% @posts.each do |post| %>
                    <tr>
                        <td>
                            <%= link_to admin_user_path(post.user.id) do %>
                                <%= image_tag post.user.get_profile_image(80,80) %>
                            <% end %>
                            <%= post.user.name %>
                        </td>
                        <td><h3><%= link_to post.title, admin_post_path(post.id) %></h3></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>