<header>
    <div class="containe-fluid" style="background-color: #d0af4c; color: #eaedf7;">
        <div class="row mx-auto border-bottom">
            <div class="col-2 my-4">
                <%= link_to root_path, style: "color: black;" do %>
                  Top
                <% end %>
            </div>
            
            
            <div class="col-8">
              <ul class="row justify-content-end my-2 list-unstyled">
                <!--admin -->
                <% if admin_signed_in? %>
                  <li class="nav-item mx-2 my-4">
                    <%= link_to admin_posts_path, style: "color: black;" do %>
                      Posts
                    <% end %>
                  </li>
                  <li class="nav-item mx-2 my-4">
                    <%= link_to  admin_users_path, style: "color: black;" do %>
                      Users
                    <% end %>
                  </li>
                  <li class="nav-item mx-2 my-4">
                    <%= link_to  destroy_admin_session_path, method: :delete, style: "color: black;"  do %>
                      ログアウト
                    <% end %>
                  </li>
                          
                <% elsif user_signed_in? %>
                  <li class="nav-item mx-2 my-4">
                    <%= link_to new_post_path, style: "color: black;" do %>
                      <i class="fa-solid fa-file-pen ml-3">投稿する</i>
                    <% end %>  
                  </li>
                  <li class="nav-item mx-2 my-4">
                    <%= link_to users_path, style: "color: black;" do %>
                      Users
                    <% end %>
                    </li>
                <li class="nav-item mx-2 my-4">
                  <%= link_to posts_path, style: "color: black;" do %>
                    Posts
                  <% end %>
                </li>
                <li class="nav-item mx-2 my-4">
                  <%= link_to destroy_user_session_path, method: :delete, style: "color: black;" do %>
                    ログアウト
                  <% end %>
                </li>
              <!--customer login時-->  
              <% else %>
                <li class="nav-item mx-2 my-4">
                  <%= link_to about_path, style: "color: black;" do %>
                    About
                  <% end %>
                </li>
                <li class="nav-item mx-2 my-4">
                  <%= link_to users_guest_sign_in_path, method: :post, style: "color: black;" do %>
                    ゲストログイン（閲覧用）
                  <% end %>
                </li>
                <li class="nav-item mx-2 my-4">
                  <%= link_to new_user_registration_path, style: "color: black;" do %>
                    新規登録
                  <% end %>
                </li>
                <li class="nav-item mx-2 my-4">
                  <%= link_to new_user_session_path, style: "color: black;" do %>
                    ログイン
                  <% end %>
                </li>
                <li class="nav-item mx-2 my-4">
                  <%= link_to new_admin_session_path, style: "color: black;" do %>
                    管理者ログイン
                  <% end %>
                </li>
              <% end %>  
              </ul>
            </div>
        </div>
    </div>
</header>